.button-create-shopping-list {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.container-card-list-of-ingredients {
  padding: 20px 0;
  display: flex;
  justify-content: center;

  .card {
    width: 600px;
  }
}

@media only screen and (max-width: 800px) {
  .container-card-list-of-ingredients {
    padding: 10px 0;
  }

  .button-create-shopping-list {
    padding: 10px 0;
  }
}
