.container-list-of-recipes-card {
  display: flex;
  justify-content: center;

  .card {
    width: 600px;
  }
}

@media only screen and (max-width: 800px) {
  .container-list-of-recipes-card {
    .card {
      width: 250px;
    }
  }
}
