.container-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
}

.list-ingredient {
  flex-shrink: 1;
  text-align: center;
}

.ingredient-card {
  margin: 5px;
}
