.container-list-of-other {
  display: flex;
  justify-content: center;

  .card {
    width: 600px;
  }

  .newItem-input {
    display: flex;
    align-items: baseline;

    .newItem-button {
      margin: 0 15px;
    }
  }
}
