.login {
  text-align: center;
  color: #f93c64;
}

.container-login {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  padding: 20px 0;
}

.register-user-button {
  text-align: center;
}
