.container-select-ingredient {
  display: flex;
  justify-content: space-between;
}

.select-new-ingredient {
  flex-basis: 40%;
}

.select-ingredient-quantity {
  flex-basis: 20%;
}

.select-ingredient-choose {
  flex-basis: 20%;
}

.button-save-new-ingredient {
  flex-basis: 5%;
  display: flex;
  align-self: center;
}

@media only screen and (max-width: 800px) {
  .container-select-ingredient {
    flex-direction: column;
  }
}
