.Recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.recipes-link {
  flex-basis: 28%;
  margin: 20px 15px;
}

.recipes-title-name {
  text-align: center;
  font-size: 40px;
  color: black;
}

.recipes-details {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  color: black;
}
