.Recipe {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #cec3be;
  margin: 10px;
}

.recipe-name {
  text-align: center;
  padding: 20px 0;
}

.recipe-img {
  display: flex;
  justify-content: center;
}

.recipe-ingredient-name {
  padding: 0 10px 0 0;
}

.recipe-ingredient-sub-title {
  text-align: center;
  padding: 20px 0;
}

.recipe-preparation {
  padding: 20px 0;
}
.description-of-the-recipe {
  display: flex;
  justify-content: space-around;
  padding: 30px 0 0 0;
}

.nutrition-of-the-recipe {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

@media only screen and (max-width: 800px) {
}
