.create-new-account {
  text-align: center;
  color: #f93c64;
}

.container-for-register-user {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  padding: 20px 0;
}

.log-in-button {
  text-align: center;
}
