.Select-Recipe-Modal-recipe-photo {
  margin: 5px 0;
  position: relative;
}

.Select-Recipe-Modal-button {
  border: none;
  width: 0;
  height: 0;
  background: none;
  padding: 0;
}

.Select-Recipe-Modal-input-dropdown {
  display: flex;
  flex: 1;
}

.Select-Recipe-Modal-input {
  margin-right: 15px;
}

.button-selectRecipeModal {
  margin: 5px 0;
}
