.select-ingredient {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.ingredient {
  flex-basis: 60%;
}

.quantity {
  flex-basis: 25%;
}

.button-save-ingredient {
  flex-basis: 5%;
  align-self: center;
}

@media only screen and (max-width: 800px) {
  .select-ingredient {
    flex-direction: column;
  }

  .button-save-ingredient {
    align-self: flex-start;
  }
}
