.select-ingredient {
  display: flex;
  justify-content: space-evenly;
}

.ingredient {
  flex-grow: 3;
  margin: 0 20px;
}

.quantity {
  flex-shrink: 2;
  margin: 0 20px;
}

.button-save-ingredient {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 0 20px;
}
