.select-ingredient {
  display: flex;
  justify-content: space-between;
}

.ingredient {
  flex-basis: 60%;
}

.quantity {
  flex-basis: 25%;
}

.button-save-ingredient {
  flex-basis: 5%;
  align-self: center;
}
