.Recipe {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  max-width: 900px;
  margin: 0 auto;

  .color-icon {
    color: #f93c64;
  }

  .recipe-name {
    text-align: center;
    padding: 30px 0;
    font-family: "Pacifico", cursive;
  }

  .recipe-img {
    display: flex;
    justify-content: center;
  }

  .title-details-of-the-recipe {
    text-align: center;
    padding: 30px 0;
    font-size: 20px;
  }

  .title-nutrition-detail {
    text-align: center;
    padding: 30px 0;
    font-size: 20px;
  }

  .recipe-ingredient-sub-title {
    text-align: center;
    padding: 20px 0;
  }

  .recipe-preparation {
    padding: 20px 0;
  }

  .description-of-the-recipe {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 0 0;
  }

  .container-nutrition-of-the-recipe {
    padding: 30px;
    display: flex;
    justify-content: space-between;
  }

  .nutrition-detail {
    padding: 10px 0;
  }
}

.Recipe-mobile {
  display: none;
}

@media only screen and (max-width: 700px) {
  .Recipe {
    display: none;
  }

  .Recipe-mobile {
    display: block;
    padding: 20px;

    .recipe-name {
      text-align: center;
      padding: 30px 0;
      font-family: "Pacifico", cursive;
    }

    .title-details-of-the-recipe {
      text-align: center;
      padding-top: 30px;
      font-size: 20px;
    }

    .title-nutrition-detail {
      text-align: center;
      padding-top: 30px;
      font-size: 20px;
    }

    .color-icon {
      color: #f93c64;
    }

    .description-of-the-recipe-tab {
      padding: 20px;
      display: flex;
      flex-wrap: wrap;
    }

    .nutrition-of-the-recipe {
      padding: 20px;
    }

    .title-nutrition {
      text-align: center;
      font-weight: 900;
    }

    .container-nutrition-of-the-recipe {
      padding: 15px;
      display: flex;
      flex-wrap: wrap;
    }

    .recipe-detail {
      padding: 10px 0;
      margin: 0 10px;
    }

    .nutrition-detail {
      padding: 10px 0;
      margin: 0 10px;
    }

    .tabs {
      margin-top: 20px;
      font-size: 20px;
    }

    .recipe-preparation {
      padding: 20px;
    }

    .loading {
      color: #f93c64;
      display: flex;
      justify-content: center;
      align-self: center;
    }
  }

  @media only screen and (max-width: 400px) {
    .Recipe-mobile {
      .tabs {
        font-size: 12px;
      }
      .container-nutrition-of-the-recipe {
        flex-direction: column;
      }
      .description-of-the-recipe-tab {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }
    }
  }
}
