.description-of-the-recipe-show {
  display: flex;
  flex-direction: column;
}

.nutrition-of-the-recipe {
  flex-direction: column;
}

.title-nutrition {
  text-align: center;
  font-weight: 900;
}

.container-Recipe-ingredients {
  padding: 20px 0;
}

.tabs {
  font-size: 15px;
}

.Recipe {
  display: none;
}

.Recipe-mobile {
  display: block;
}

@media only screen and (max-width: 800px) {
  .description-of-the-recipe-show {
    padding: 20px 0;
    flex-direction: column;
  }
}
