@import "~bootstrap/scss/bootstrap";
@import "~react-bootstrap-typeahead/css/Typeahead.css";

.nav-container {
  display: flex;
  justify-content: space-evenly;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
