@import "~bootstrap/scss/bootstrap";
@import "~react-bootstrap-typeahead/css/Typeahead.css";
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2&family=Sniglet&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

.nav-container {
  display: flex;
  justify-content: space-evenly;
}

h2 {
  font-family: "Bad Script", cursive;
  font-size: 40px;
  color: #e25523;
}

h4 {
  font-family: "Caveat", cursive;
  font-size: 30px;
}

body {
  font-family: "Baloo Da 2", cursive;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
}

@media only screen and (max-width: 800px) {
  .App {
    display: none;
  }
  //  this for the nav stick on the screen
  .App2 {
    position: sticky;
  }
  // this is for the nav stick on the button
  .nav-container {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .App {
    padding: 0 1px;
  }
}
