@import "~bootstrap/scss/bootstrap";
@import "~react-bootstrap-typeahead/css/Typeahead.css";
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2&family=Sniglet&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

// h2 {
//   font-family: "Bad Script", cursive;
//   font-size: 40px;
// }

h4 {
  font-family: "Caveat", cursive;
  font-size: 30px;
}

body {
  font-family: "Baloo Da 2", cursive;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 30px;
}

header {
  display: flex;
  justify-content: space-evenly;
}

footer {
  display: none;
}

@media only screen and (max-width: 800px) {
  header {
    display: none;
  }

  //  this for the nav stick on the screen
  footer {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .App {
    padding: 0;
    padding-bottom: 50px;
  }
}
