h4 {
  font-family: "Caveat", cursive;
  font-size: 30px;
}

body {
  font-family: "Baloo Da 2", cursive;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 30px;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  margin: 20px 0;
}

.nav-container {
  display: none;
}

@media only screen and (max-width: 800px) {
  header {
    display: none;
  }

  //  this for the nav stick on the screen
  .nav-container {
    display: flex;
    bottom: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .App {
    padding: 0;
    padding-bottom: 50px;
  }
}
