.button-create-shopping-list {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.container-card-list-of-ingredients {
  max-width: 900px;
  width: 900px;
  margin: 0 auto;
  padding: 20px 0;
}
