.create-shopping-list-title {
  text-align: center;
  padding: 20px 0;
  font-family: "Pacifico", cursive;
}

.title-tab-shopping-list {
  padding: 20px 0;
  font-size: 25px;
  text-align: center;
}

.container-create-shopping-list {
  max-width: 900px;
  margin: 0 auto;
}

.input-name-of-the-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.container-date-picker-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-list-title {
  text-align: center;
  padding: 40px 0;
}

.container-recipe-modal-list-recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-of-recipe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 800px) {
  .title-tab-shopping-list {
    font-size: 20px;
  }

  .container-create-shopping-list {
    padding: 30px;
  }

  .input-name-of-the-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .list-of-Recipe {
    width: 300px;
    max-width: 300px;
  }
}
