.title-create-new-recipe {
  text-align: center;
  font-family: "Pacifico", cursive;

  font-size: 35px;
  margin-bottom: 40px;
}

.container-photo-create-recipe {
  display: flex;
  justify-content: center;
}

.container-Create-Recipe {
  display: flex;
  justify-content: center;
}

.sub-title-create-recipe {
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
}

.button-submit-create-recipe {
  padding: 20px 0;
}

@media only screen and (max-width: 800px) {
  .title-create-new-recipe {
    margin: 30px 0;
  }

  .container-Create-Recipe {
    margin: 0 20px;
  }
}
