.container-Create-Recipe {
  display: flex;
  justify-content: center;
}

.create-recipe-name-of-the-recipe {
  margin: 0 20px;
}

.create-recipe-upload-file {
  margin: 0 20px;
}

.create-recipe-preparation {
  margin: 0 20px;
}

// .create-recipe-ingredient-select-container {

// }

// .create-recipe-ingredient-select-delete {

// }

// .create-recipe-ingredient-select {

// }

// .create-recipe-component-select-ingredient {

// }

// .create-recipe-component-new-ingredient {

// }

// .button-create-recipe-save {

// }
