.title-create-new-recipe {
  font-size: 35px;
  text-align: center;
  padding: 30px 0;
}

.container-Create-Recipe {
  display: flex;
  justify-content: center;
}

.create-recipe-name-of-the-recipe {
  margin: 0 20px;
}

.create-recipe-upload-file {
  margin: 0 20px;
}

.create-recipe-preparation {
  margin: 0 20px;
}

.title-ingredients-create-recipe {
  text-align: center;
  padding: 30px 0;
}

.create-recipe-ingredient-select-container {
  display: flex;
  flex-direction: column;
}

.create-recipe-ingredient-select {
  padding: 10px 0;
}

.create-recipe-ingredient-select-delete {
  margin: 0 20px;
}

.button-create-recipe-save {
  margin: 20px 0;
}
